.c-nav-Auxiliar{
    display: flex;
    justify-content:flex-end;
    align-content:center;
    align-items:flex-end;

    &__item{

        border-right: 1px solid getColor("negro",1);
        padding-right:getPadding(3) ;
        padding-left: getPadding(3);

    }
   




}