.c-img{
    position: relative;
    z-index:-1;
    &__mediano{

        width: 100%;
        height: 230px;


    }


    &__xl{
        
        height: 100%;
        width: 100%;
       

    }


    &__absolute{

        
        position: absolute;
        z-index: 1;

        &--S{

            z-index: 2;

             height:183px ;
            width: 144px;
            

        }
       
        &--L{


            height:250px ;
            width: 370px;
            margin-top: getMargin(7);


        }

        &--XL{
            padding-left: 0px;
            position: relative;
           




        }

       
        
        




    }






}