<div style="text-align:center">
  <h1>¡Hola {{ destino }}!</h1>
  <p>Este es el proyecto denominado {{title}}</p>
</div>
<app-copyright></app-copyright>
<!-- <div class="container">
  <h3>Ejemplo de Interpolación con Objeto</h3>
  <hr>
  <app-view-modelo></app-view-modelo>
</div>
<div class="container">
  <h3>Ejemplo de Interpolación con Método</h3>
  <hr>
  <app-ej-metodo></app-ej-metodo>
</div>
<div class="container">
  <h3>Ejemplo de Property Binding</h3>
  <hr>
  <app-ej-property-binding></app-ej-property-binding>
</div>

<div class="container" >
  <h3>Ejemplo de Event Binding</h3>
  <hr>
  <app-ej-event-binding></app-ej-event-binding>
 </div>-->
 <div class="container" >
  <h3>Ejemplo de Two Way Binding</h3>
  <hr>
  <app-ej2-way-binding></app-ej2-way-binding>
 </div>
 <!-- <div class="container" >
  <h3>Ejemplo de directiva ngIf</h3>
  <hr>
  <app-ej-directiva-ngif></app-ej-directiva-ngif>
 </div>
 <div class="container" >
  <h3>Ejemplo de directiva ngStyle</h3>
  <hr>
  <app-ejdirectivangstyle></app-ejdirectivangstyle>
 </div>
 <div class="container" >
  <h3>Ejemplo de directiva ngClass</h3>
  <hr>
  <app-ejdirectivangclass></app-ejdirectivangclass>
 </div> -->
 <!-- <div class="container" >
  <h3>Ejemplo de directiva ngFor</h3>
  <hr>
  <app-ejdirectivangfor></app-ejdirectivangfor>
 </div>

 <div class="container" >
  <h3>Ejemplo de directiva ngFor con objetos</h3>
  <hr>
  <app-arrayobjetos></app-arrayobjetos>
 </div> -->

 <!-- <div class="container" >
  <h3>Ejemplo de directiva ngSwitch</h3>
  <hr>
  <app-ejdirectivangswitch></app-ejdirectivangswitch></div> -->
  <div class="container" >
    <h3>Ejemplo de uso de @Input</h3>
    <hr>
    <app-componentepadre></app-componentepadre>
   </div>

<router-outlet></router-outlet>
